.App {
  background-color: #eee;
  height: 100vh;
  width: 100vw;
}

.search-bar-container {
  padding-top: 3vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.video-player-container {
  width: 80%;
  padding-top: 1vh;
  /* padding-bottom: 30vh; */
  margin: auto;
  /* position: relative;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  overflow: hidden;

}

.navigation-bar-container {
  width:100%;
  bottom: 3vh;
  margin: auto;
  position: fixed; 
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.references {
  width:100%;
  bottom: 3vh;
  margin: auto;
  position: fixed; 
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  min-width: 200px;
  padding-right: 1vw;
  padding-bottom: 1vh;
}

.tmdb-logo {
  width:10%;
  bottom: 1;
  margin-right: 0;
  position: fixed; 
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* min-width: 200px; */
}

.watchlist-container {
  width: 80%;
  height: 90vh;
  padding-top: 5vh;
  /* padding-bottom: 30vh; */
  margin: auto;
  /* position: relative;  */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  min-width: 200px;
  overflow: hidden;

}

.history-container {
  width: 80%;
  height: 90vh;
  padding-top: 5vh;
  /* padding-bottom: 30vh; */
  margin: auto;
  /* position: relative;  */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  min-width: 200px;
  overflow: hidden;

}